spring:
  application:
    name: person-client-api

server:
  port: 8072

eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: https://service-registry-person.herokuapp.com/eureka
  instance:
    hostname: service-registry-person.herokuapp.com

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 60000